
<li style="margin-top: 5px">
    <div class="szjs_title"><strong>
            张浩林 平面设计高级讲师
        </strong><br></div>
    <img style="float: left;padding:5px;" src="./upload/szjs/t16.jpg" />
    <p>

        生于1980年，广东梅州人。毕业于广州美术学院，业界知名设计师　高级培训讲师，培训学员5000人，学子满天下。
        <br/>
        1996年开始学习美术绘画；<br/>
        2002年毕业于美院广告装璜系，从事平面广告设计至今已
        有九年时间（2002年—2011年），先后在印务公司、广告设计公司、企业策划部等部门担任平面设计师 设计总监美术指导 等职务。 熟悉广告公司全套操作流程，对广告海报、宣传单张、企
        业画册、报刊设计、包装设计、标志设计、企业VIS形象设计、产品VI、展示设计、 POP、DM传单、印刷输出工艺户外广告、喷画、X展架、易拉宝、展板等等的设计制作非常精通
        <br/>3、精通软件有：Photoshop、Illustrator、InDesign

        CorelDRAW、FreeHand、Acrobat 、3dsMax、AutoCAD
        戴老师在多年的教学生涯总结了自已一套教学三步曲：<br/>

        第一步：<br/>

        强化表现技能训练，将软件表现能力提高到可以满足设计师基本要求，使学生可以胜任平面设计师实际工作要求。
        第二步：<br/>

        精选设计理念训练，将平面设计所必须的设计理念简化、分解、浓缩，再以通俗易懂的语言传输给学生，使学生对设计有更深层次的提高。
        第三步：<br/>

        实战模拟训练，使学生掌握实际工作中的应用技巧戴老师为人随和，真诚友善，极具亲和力，讲课通俗易懂，课程内容丰富，实战案例充足到位，只要你肯定，戴老师肯定能将你培育成一个真正实用的设计师</p>
</li>


<li style="margin-top: 5px">
    <div class="szjs_title"><strong>
            万义忠
        </strong><br></div>
    <img style="float: left;padding:5px;" src="./upload/szjs/t18.jpg" />
    <p>
        万义忠　男 室内设计高级讲师　现年42岁，湖南长沙人，高级室内设计讲师　中国建筑学会室内设计分会会员 91年毕业华南理工大学。
        从事室内设计工作多年，具备丰富的施工现场管理经验，深厚的美术功底和艺术修养。现任广州市唐汉设计工作室设计总监；。设计理念把握多维空间的向度，用专业的理性整合合情合理的室内建筑空间，再用感性的光和色彩调合它，然后注入更多的人文关怀。一直致力于室内设计的创新，主持和参与多项大型项目的设计施工。
        参与设计项目：<br/>
        广州象山公寓设计<br/>
        皇朝家私展厅设计<br/>
        荣德科技公司办公空间设计<br/>
        富瑰园家装装饰工程<br/>
        缤纷年华空间设计等。

    </p>
</li>


<li style="margin-top: 5px">
    <div class="szjs_title"><strong>
            贺宇凡　室内设计高级讲师
        </strong><br></div>
    <img style="float: left;padding:5px;" src="./upload/szjs/t18.jpg" />
    <p>
        福建人　95年毕业于广州美术学院，本科学历，艺术设计科班出身，
        一直从事广告设计行业工作。 先后在多家大型4A广告公司任职，有地产，
        电器，建材等多个行业的品牌建设经验，熟悉设计行业的操作流程，理解客户、
        品牌、和设计者之间微妙而复杂的关系。2007年开始穿梭于设计教育行业，
        在我设计师实训基地带出一批批好口碑的学员。授课风格以平面设计的实战实例为主，
        并紧密结合软件的实际操作 ，注重学生在设计上的素质教育。软件的紧密连接案例特色，
        倍受学生欢迎。

    </p>
</li>
<li style="margin-top: 5px">
    <div class="szjs_title"><strong>
            曾宏俊老师
        </strong><br></div>
    <img style="float: left;padding:5px;" src="./upload/szjs/t19.jpg" />
    <p>
        曾宏俊老师 装潢设计专业设计，高级室内设计师。<br/>
        从事室内设计、园林景观设计多年，2006年在我校担任设计教学工作，其精湛的室内设计技法和深厚的理论功底深得学员 喜欢，是中国室内设计师协会会员，高级室内设计讲师，
        曾老师一直专注于以独特的专业视角去诠释空间艺术，能独辟蹊径、令人耳目一新。其在生活中不断提取设计灵感和元素并巧妙运用于作品之中，中西合璧而不拘泥，对家具、艺术品及灯光氛围的营造亦张驰有序。
        主持设计的主要工程业绩有：<br/>
        恒峰大厦商户设计金茂中心室内设计<br/>
        蓝岸丽舍别墅设计<br/>
        天恒骏花园 项目设计<br/>
        华南碧桂园别墅区设计<br/>
        爱登堡酒店装饰项目等
    </p>
</li>
<li style="margin-top: 5px">
    <div class="szjs_title"><strong>
            张智斌老师
        </strong><br></div>
    <img style="float: left;padding:5px;" src="./upload/szjs/t20.jpg" />
    <p>
        　广东阳江人　华南理工大学毕业　<br/>
        高级室内设计老师，一级建造师　<br/>
        主讲课程：CAD、3DMAX、V-ray等
        <br/>专业特长：设计总监、3dsmax设计讲师，曾独立编写3dsmax教材，技术精湛细腻，
        深受学员敬重，得到学员一致好评。 凭籍多年设计工作经验，结合丰富的设计教学经验，
        融会贯通到设计教学当中，设计理论结合实际案例，深入浅出，语言幽默风趣的讲课风格深受学生喜爱。
        Discreet 3dsamx应用工程师、Discreet 3dsmax可视化工程师、Discreet 3dsmax认证讲师。
        7年专业3D任课经验，教学内容包括：3dsmax动画、室内效果图、园林景观效果图、等。
        曾任金瑞厨具公司担任效果图技术顾问。 张老师不仅3D技术基本功扎实，
        还在教学方面有很深的研究. 其设计作品多次获得好评。

    </p>
</li>

<li style="margin-top: 5px">
    <div class="szjs_title"><strong>
            易科隆老师
        </strong><br></div>
    <img style="float: left;padding:5px;" src="./upload/szjs/t21.jpg" />
    <p>
        　男　湖北美术学院环境艺术系毕业本科<br/>
        高级室内设计师，工艺美术设计师，长期从事建筑设计、室内设计的教学工作以及建筑与室内设计的工程实践。
        组织完成过多项大、中型工程的室内设计、跟踪过多个大型工程施工现场。对室内设计风格、手绘综合表现技法及整体施工设计方案有着独特的见解。
        <br/>主要案例：广州美林湖别墅区室内设计
        <br/>珠江新城CBD

        <br/>翠城花园 设计项目
        <br/>万国大酒店等
    </p>
</li>


<li style="margin-top: 5px">
    <div class="szjs_title"><strong>
            邹老师
        </strong><br></div>
    <img style="float: left;padding:5px;" src="./upload/szjs/t22.jpg" />
    <p>
        室内设计主讲师。<br/>
        毕业于天津美术学院（环境艺术设计系）<br/>
        曾在中国建筑装饰工程公司设计所做设计研究员，三木设计设计总监，曾在四川美院做个设计讲师，装饰行业职业经历十年余年，公共建筑室内设计专家，在十余年的的设计路上，形成了不与人同的风格，欧式风格、中式风格、现代简约风格。设计总监课程开发人之一，带领学员一个个过关斩将，面对难题，肯吃苦耐劳，为人正直，正派。
        <br/>座右铭：我坚持的“三心二意”：信心、恒心、决心；创意、乐意
        <br/>曾经主持设计和施工过多个工程项目：
        <br/>半岛咖啡设计
        <br/>北京远洋公馆室内设计
        <br/>汕头酒店室内设计
        <br/>交通大厅室内设计
        <br/>金都国际大酒店室内设计工程
        <br/>荷园茶楼音之符ktv包厢设计工程
        <br/>华侨国际大楼室内装饰和景观设计工程项目
        <br/>新概念酒店
        <br/>广州朱美拉公寓室内设计
        <br/>颐和山庄洋房设计工程项目等

    </p>
</li>

<li style="margin-top: 5px">
    <div class="szjs_title"><strong>
            陈东升
        </strong><br></div>
    <img style="float: left;padding:5px;" src="./upload/szjs/t23.jpg" />
    <p>
        陈东升　男，毕业于湖北工学院，室内设计专业，高级室内设计师、室内设计高级讲师、深圳市室内设计师协会理事,深圳室内设计师协会理事。
        多年室内设计，园林景观设计经验，在从事设计工作的同时，一直从事建筑设计、室内设计的教学工作 。组织完成过多项大、中型工程的室内设计、跟踪过多个大型工程施工现场。对室内设计风格、 和表现技法及整体施工设计方案有着独特的见解，陈老师非常喜欢教育事业，所以在从事设计工作的同时，一直在我校任教学工作，态度好，责任心强，对教育学生方面陈老师有一套独特的方法，让很多学生在最短的时间里学到真正的专业知识。
        <br/>曾参与设计的项目有：<br/>
        鹤山小区公共绿景设计 <br/>雅居乐家居设计<br/>
        中山人民路发艺轩设计 <br/>广州芳村茶叶城商户设计<br/>
        广州番禺星河湾家装设计<br/>
        金碧御水山庄项目设计<br/>
        金碧新城陈府设计等<br/>

    </p>
</li>


<li style="margin-top: 5px">
    <div class="szjs_title"><strong>
            郭晓明
        </strong><br></div>
    <img style="float: left;padding:5px;" src="./upload/szjs/t24.jpg" />
    <p>
        室内设计高级设计师 高级讲师 大学教授。<br/>
        华南理工大学建筑学专业，本科学历，有扎实的设计基
        本功和丰富的设计经验。现任广州雷格风空间设计公司设计总监
        <br/> 主要业绩如下：<br/>
        97-99年深圳大学建筑设计院助理建筑师，主要工阅读程有
        万科四季花城一期、深圳振业集团振兴城等·2000年深圳德港凯迪蒙建筑设计有限公司建筑师，主要工 程有 西安紫薇花园、西部电子城、西安高科技园区总规划哈尔滨高等法院、河南灵宝水上乐园、北京公主大厦。·2001年中国建筑科学研究院深圳分院副主任建筑师，主要工程有东莞石龙广场、深圳北京大学科兴生物谷、中山半山豪庄、中山大涌商业街、沙田五星酒店、广西旅游中心、
        西安政府办公楼、深圳武警大厦、深圳龙岗思达工 业园、 东莞四季购物公园、蛇口东角头住宅区。
        郭老师讲课风格，深入浅出，理论知识与实践经验有机的结合在一起，语言风趣幽默，善于与学员沟通。课堂气氛活跃。能充分调动学员的学习兴趣，颇得学员爱戴。主讲装饰设计、手绘等课程。

    </p>
</li>

<li style="margin-top: 5px">
    <div class="szjs_title"><strong>
            谢小彤老师
        </strong><br></div>
    <img style="float: left;padding:5px;" src="./upload/szjs/t25.jpg" />
    <p>
        女 1982年7月27日出生，现年29岁，
        广东梅州人，毕业于华南理工大学，大学本科学历，
        工商管理与财务管理双专业，现任职于华南师范大学高级设计师实训基地，
        任办公室主任、教务长职务，同时担任广州三木装饰设计有限公司副总经理职务。
        谢老师自从担任华南师范大学设计师高级设计师实训基地教务长职务以来，
        努力组织和领导老师进行全方位系统的设计专业培训，为社会各种大小中型设计公司培养了一批批的专业人才。
        谢老师经过多年的教学管理工作，已经总结了一套行之有效的管理和培训学生的方法，
        是广东省数一数二的设计实训管理人才。
    </p>
</li>