@import "mixin";
.gotop{
  position: fixed;
  bottom: 10%;
  right: 10%;
}

.yulan{
  position: fixed;
  bottom: 5%;
  right: 10%;
}
.car-warp{
  width: 100%;
  position: relative;
  height: 100%;
  .car-view{
    width: 100%;
    height: 100%;
    position: relative;
    list-style: none;
    left: 0;
    top: 0;
    li{
      position: absolute;
      display: none;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      img{
        @include img;
      }
      &.active{
        display: block;
      }
    }
  }
  .car-control{
    width: 100%;
    position: absolute;
    bottom: 45px;
    height: 30px;
    z-index: 20;
    color: #FFFFFF;
    text-align: center;
    left: 0;
    li{
      display: inline-block;
      text-align: center;
      color: #000;
      background-color:rgba(0,0,0,.4);
      padding: 2px 5px;
      margin: 2px;
      &.active{
        color: #FFFFFF;
        background-color: #000;
      }
    }
  }
  .car-titles{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    color: #FFFFFF;
  }
}
.marks{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  left: 0;
  top: 0;
  text-align: center;
  background-color: #fff;
  padding-top: 300px;
  img{
    width: 500px;
    @include blockCenter;
  }
  .fa{
    color: #575757;
    font-size: 50px;
  }
}
.atr{
  .xilie,.atrs img{
    @include blockCenter;
    width: 330px;
    display: block;
    height:auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .left-4gy{
    background-color: #454444;
    .img-thumbnail{

    }
    .photos{
      width: 264px;
      height: 389px;
      @include blockCenter;
    }
  }
  .right-4gy{
    padding: 0;
    margin: 0;
    img{
      width: 90%;
      height:auto;
      display: block;
      @include blockCenter
    }
  }
}
.row{
  *margin-right:0;
  *margin-left:0;
}
#header{
  width: 100%;
  height: 126px;
  z-index: 999;
  @include boxShadow(2px 2px 5px #525252);
  @include gradient(to top,#f3f3f3,#f9f9f9);
  .share-bar{
    width: 500px;
    .share-icon{

      float: right;
      margin-right: 36px;
      padding-top: 30px;
      text-indent: 10px;
      @include clearfix;
      position: relative;

      .huashi-icon{
        display: block;
        float: left;
        color: #9a9a9a;
        font-size: 30px;
        @extend .ahover;
        width: 50px;
        text-align: center;
        margin-right: 10px;
        img{
          @include img;
        }
      }
      .huashierwema{
        position: absolute;
        right: -100px;
        top: 10px;
        width: 100px;
      }
    }
    .btns{
      width: 100%;
      float: right;
      list-style: none;
      @include clearfix;
      padding-top: 20px;
      margin-right: 30px;
      li{
        float: right;

        a{
          color: #222;
          margin-right: 20px;
          @extend .ahover;
        }
      }
    }
  }

}
.nav{
  position: absolute;
  left: 0;
  height: 43px;
  width: 100%;
  background: url("../img/navbg.jpg") 0 0 repeat-x;
  .mainnav{
    height: 43px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    li{
      margin: 0;
      padding: 0;
      float: left;
      @include lineheight(44px);
      text-align: center;
      height: 43*2px;

      overflow: hidden;
      @include transition(all 0.4s);
      &:hover{
        @include translate(0,-43px);
      }
      a{
        margin: 0;
        padding: 0;
        color: #fff;
        img{
          display: block;
          height: 43px;
        }
      }
    }
  }
}

$bannerHeight:540px;
.banner{
  width: 100%;
  padding:{
    bottom: 44px;
  };
  .slide{
    height:$bannerHeight;
    .item{
      height: $bannerHeight;
      background: {
        repeat: no-repeat;
        position: center;
        size: cover;
      };
    }
    @for $i from 1 through 4{
     .item#{$i}{
       background: url("../img/banner#{$i}.png") no-repeat center;
     }
    }
    .item1{
      background: url("../img/banner1.jpg");
    }
    .carousel-indicators{
      li{
        *float: left;
        *margin-right: 10px;
      }
    }
    .carousel-control{
      background-image: none;
      background-color: transparent;
      @include lineheight($bannerHeight);
      .fa{
        font-size: 40px;
      }
      &:hover{
        background: none;
      }
    }
  }
}
#footer{
  background: #333;
  width: 100%;
  padding-top: 35px;
  overflow: hidden;
  padding-bottom: 50px;
  .container{
    .map_wra{
      float: left;
      margin-bottom: 10px;
      .logo{
        width: 318px;
        img{
          @include img;
        }
      }
    }
    .wrapper{
      overflow: hidden;
      *{
        margin: 0;
        padding: 0;
      }
      .wrapper_top{
        float: left;
        .wrapper_bottom{
          float: left;
          text-align: left;
          width: 560px;
          height: 40px;
          color: #606554;
          margin-bottom: 40px;
        }
        .link_wra{
          float: left;
          width: 900px;
          .link{
            margin-bottom: 10px;
            margin-right: 12px;
            color: #606554;
          }
        }
        .contact{
          float: left;
          width: 220px;
          margin-right: 40px;
          .zixun{
            background: #d00e31;
            border-width: 1px;
            border-style: solid;
            border-radius: 30px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            font-size: 16px;
            color: #FFF;
            width: 120px;
            text-align: center;
            padding: 5px 0;

          }
          .tel{
            font-size: 22px;
            color: #FFF;
            margin-top: 6px;
          }
          .weixin{
            color: #FFF;
            font-size: 16px;
            width: 100%;
            img{
              width: 50%;
              height:auto;
              display: block;
            }
          }
        }
      }

    }
  }
}


/*animate*/
@include keyframs(myanimate){
  0%{
    @include rotate3d(1,0,0,0deg);
    @include boxShadow(0px 5px 10px #ddd)
  }
  100%{
    @include rotate3d(1,0,0,360deg);
    @include boxShadow(0px 5px 10px #ddd)
  }
}

.myanimate{
  animation-name: myanimate;
}
.float0831 {
  POSITION: fixed; TOP: 180px; RIGHT: 1px; _position: absolute;
  *{
    margin: 0;
    padding: 0;

  }
}
.float0831 A {
  COLOR: #00a0e9
}
.float0831 A:hover {
  COLOR: #ff8100; TEXT-DECORATION: none
}
.float0831 .floatL {
  POSITION: relative; WIDTH: 28px; FLOAT: left
}
.float0831 .floatL A {
  TEXT-INDENT: -9999px; DISPLAY: block; FONT-SIZE: 0px
}
.float0831 .floatR {
  BACKGROUND: url(../img/float_bg.gif)
}
.float0831 .tp {
  BACKGROUND: url(../img/float_bg.gif)
}
.float0831 .cn {
  BACKGROUND: url(../img/float_bg.gif)
}
.float0831 .floatR {
  PADDING-BOTTOM: 15px;
  WIDTH: 130px;
  BACKGROUND-REPEAT: no-repeat;
  BACKGROUND-POSITION: -131px bottom;
  FLOAT: left;
  OVERFLOW: hidden;
  font-size: 11.5px;
}
.float0831 .tp {
  BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0% 0%; HEIGHT: 10px
}
.float0831 .cn {
  BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: -262px 0px
}
.float0831 .cn H3 {
  TEXT-INDENT: -9999px; HEIGHT: 36px; FONT-SIZE: 0px
}
.float0831 .cn UL {
  PADDING-BOTTOM: 0px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; PADDING-TOP: 0px
}
.float0831 .cn UL LI {
  BORDER-BOTTOM: #e6e5e4 1px solid;
  LINE-HEIGHT: 36px;
  WORD-WRAP: break-word;
  HEIGHT: 36px;
  OVERFLOW: hidden;
  WORD-BREAK: normal;
  font-size: 12px;
}
.float0831 .titZx {
  BACKGROUND: url(../img/float_s.gif) no-repeat
}
.float0831 .titDh {
  BACKGROUND: url(../img/float_s.gif) no-repeat
}
.float0831 .titDc {
  BACKGROUND: url(../img/float_s.gif) no-repeat
}
.float0831 .icoZx {
  BACKGROUND: url(../img/float_s.gif) no-repeat
}
.float0831 .icoTc {
  BACKGROUND: url(../img/float_s.gif) no-repeat
}
.float0831 .icoFf {
  BACKGROUND: url(../img/float_s.gif) no-repeat
}
.float0831 .icoTl {
  BACKGROUND: url(../img/float_s.gif) no-repeat
}
.float0831 .btnOpen {
  BACKGROUND: url(../img/float_s.gif) no-repeat
}
.float0831 .btnOpen_n {
  BACKGROUND: url(../img/float_s.gif) no-repeat
}
.float0831 .btnCtn {
  BACKGROUND: url(../img/float_s.gif) no-repeat
}
.float0831 .titZx {
  BACKGROUND-POSITION: 5px -10px
}
.float0831 .titDh {
  BACKGROUND-POSITION: 5px -66px
}
.float0831 .titDc {
  BACKGROUND-POSITION: 5px -124px
}
.float0831 .icoZx {
  BACKGROUND-POSITION: 2px -154px
}
.float0831 .icoTc {
  BACKGROUND-POSITION: 0px -323px
}
.float0831 .icoFf {
  BACKGROUND-POSITION: 2px -213px
}
.float0831 .icoTl {
  PADDING-LEFT: 20px;
  DISPLAY: block;
  FONT-FAMILY: "微软雅黑";
  BACKGROUND-POSITION: 2px -266px;
  FLOAT: left;
  font-size: 11px;
}
.float0831 .btnOpen {
  BACKGROUND-POSITION: -30px -396px
}
.float0831 .btnOpen_n {
  BACKGROUND-POSITION: 0px -530px
}
.float0831 .btnCtn {
  BACKGROUND-POSITION: 0px -396px
}
.float0831 .icoZx {
  PADDING-LEFT: 28px; DISPLAY: block; FLOAT: left
}
.float0831 .icoTc {
  PADDING-LEFT: 28px; DISPLAY: block; FLOAT: left
}
.float0831 .icoFf {
  PADDING-LEFT: 28px; DISPLAY: block; FLOAT: left
}
.float0831 .btnOpen {
  POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 80px; LEFT: 2px
}
.float0831 .btnOpen_n {
  POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 80px; LEFT: 2px
}
.float0831 .btnCtn {
  POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 80px; LEFT: 2px
}
.float0831 .btnOpen {
  TOP: 118px; LEFT: 1px
}
.float0831 .btnOpen_n {
  TOP: 118px; LEFT: 1px
}
.float0831 .btnCtn {
  TOP: 118px; LEFT: 2px
}
.float0831 UL LI H3.titDc A {
  WIDTH: 80px; DISPLAY: block; HEIGHT: 36px
}
.float0831 UL LI.top {
  BORDER-BOTTOM: #ace5f9 1px solid
}
.float0831 UL LI.bot {
  BORDER-BOTTOM-STYLE: none
}
.float0831 UL.webZx {
  PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 164px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/webZx_bg.jpg) no-repeat; HEIGHT: 65px; PADDING-TOP: 0px
}
.float0831 UL LI.webZx-in {
  BORDER-BOTTOM-STYLE: none; PADDING-LEFT: 5px; HEIGHT: 50px; PADDING-TOP: 8px
}

