@import "mixin";

@for $i from 1 through 12{
  .col-md-#{$i}{
    *padding:0;
  }
}

.main{
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;

  .youhui{
    margin-bottom: 40px;
    .title{

      font-size: 40px;
    }
    .touhui{
      *windth:200px;
      _display:inline;
      .fa{
        @include square(108px);
        @include borderRadius(100%);
        text-align: center;
        line-height: 108px;
        @include blockCenter;
        font-size: 50px;
        border: 2px solid black;
        color: #222;
      }
    }
    .items{
      //opacity: 0;
      @include transition(all 0.4s);

      @for $i from 1 through 6{
        @if $i<=3{
          &:nth-of-type(#{$i}){

            transition-delay: $i*0.4s;
          }
        }@else{
            &:nth-of-type(#{$i}){
              transition-delay: $i*0.4s;
            }
        }
      }
      //@for $i from 4 through 6{
      //  &:nth-of-type(#{$i}){
      //    @include translate($i*100px);
      //    @include active;
      //    transition-delay: $i*0.4s;
      //  }
      //}
      padding: 0;
      .thumbnail{
        border: none;
        padding: 0;
        .caption {
          padding: 0;
          p{
            font-size: 12px;
            color: #acacac;
          }
        }
      }
    }
    .youhui-icon{
      border-bottom: 1px solid $sectionBg;
      padding-bottom: 66px;
      .youhuititle{
        h2{
          font-size: 50px;
          font-weight:900;
          padding-top: 99px;
          padding-bottom: 30px;
          background: {
            image: url("../img/tvicon.png");
            repeat: no-repeat;
            position-x: 25%;
            position-y: 90px;
          };
        }
        p{
          padding-bottom: 32px;
          font-size: 20px;
        }
      }
    }
    .project-item{
      margin-top: 58px;
      margin-bottom: 55px;
      *{
        margin: 0;
        padding: 0;
      }
      .row{
        .icles{
          margin-top: 14px;
          margin-right: 14px;
          width: 288px;
          height: 252px;
          *width:248px;
          *height:252-12-60px;

          color: #FFFFFF;
          padding:{
            left: 20px;
            top: 60px;
            right: 20px;
            bottom: 15px;
          };
          position: relative;
          img{
            width: auto;
            height: 86px;
            margin-top: 30px;
            margin-bottom: 16px;
            @include blockCenter;
            display: block;
          }
          .link{
            color: #FFFFFF;
            &:hover{
              text-decoration: none;
            }
          }
          h3{
            padding: 0;
            text-align: center;
            font-size: 22px;
          }
          p{
            font-size: 13px;
            height: 40px;
          }
          @include transition(all 0.4s);
          @each $key,$value in $iclssbg{
            &.icles#{$key}{
              background-color: $value;
            @if $key%4==0{
              margin-right: 0;
            }
                &:hover{
                  @include boxShadow(0 0 10px $value);
                }

            }
          }
        }
      }
    }

  }
  .trade{
    height: auto!important;
    @include clearfix;
    .uijiuye{
      padding: 76px 0 104px 0;
      @extend .juchi;
      h2{
        font-size: 50px;
        padding: 0;
        margin: 0;
      }
      .sec{
        width: 694px;
        text-align: center;
        font-size: 14px;
        @include blockCenter;
        padding-top: 52px;
        font-family: "Microsoft YaHei UI", Helvetica, Arial, sans-serif;

          line-height: 30px;

      }
    }
    .youhui-item{
      background-color: $sectionBg;
      padding-bottom: 120px;
      .joy{
        width: 19%;
        padding: 0;

        margin-right: 5px;
        &:nth-last-of-type(1){
          margin: 0;
        }
        .thumbnail{
          border: none;
          padding-top: 20px;
          @include borderRadius(0);
          @include transition(all 0.4s);
          &.active{
            background-color: #cf1a3b;
            @include boxShadow(0 0 15px rgba(0,0,0,.5));
            .caption{
              *{
                color: #FFFFFF;
              }
            }
          }
          background-color: #eeeeee;
          .icons{
            @include blockCenter;
            @include square(84px);
            background:{
              repeat: no-repeat;
              image: url("../img/icons.png");
              position-y: 0;
            };
            @include transition(all 0.4s);
            &.active{
              -ms-background-position-y: -88px;
              background-position-y: -88px;;
            }
          }
        }
      }
      @for $i from 1 through 4{
        .joy#{$i}{
          .icons{
            background-position-x:-$i*84px+82px;
          }
        }
      }
    }
    .container{
      .page-header{
        .items{

            .tradeï¼title{
              font-size: 30px;
              padding-left: 120px;
            }
            p{
              font-size: 16px;
              color: #6d6d6d;
              padding-left: 120px;
              line-height: 30px;
            }

        }
      }
      .row{
        .col-md-3{
          .thumbnail{
            .ios-icons{
              @include square(144px);
              background: {
                repeat: no-repeat;
                position-y: 0;
                image: url("../img/ios_icons.png");
              };
              @include blockCenter;

            }
            border:none;
            @include boxShadow(none);
          }

            @at-root .ios-icons1{
              background-position-x: 0;
            }


            @at-root .ios-icons2{
              background-position-x:-222px;
            }


            @at-root .ios-icons3{
              background-position-x:-446px;
            }


            @at-root .ios-icons4{
              background-position-x:-669px;
            }

        }


      }
    }

  }
  .project{
    padding-top: 105px;
    background-color: #f2f2f2;
    .project-title{
      padding:0 60px;
      *padding:0;
      *width: 340px;
    }
    .img-responsive{
      //transition-delay: 1.5s;
      @include blockCenter;
    }
  }
  .salary{
    height:auto!important;
    .salary-title{
      h3{
        font-size: 36px;
        color: #010101;
        line-height: 40px;
        margin-bottom: 20px;
        font-weight: normal;
       // @include animateTransition(left,1s);
      }
      p{
        font-size: 16px;
        color: #666;
        line-height: 32px;
        //@include animateTransition(right,1s);
        //transition-delay: 1.4s;
      }
    }
    .salary-item{
      width: 100%;
      @include clearfix;
      li{
        width: 21%;
        float: left;
        text-align: center;
        position: relative;
        cursor: pointer;
        margin: 0 2%;
       // @include animateTransition(bottom,1s);

        @for $i from 1 through 4{
          &:nth-of-type(#{$i}){
            transition-delay: $i*0.5s;
          }
        }
        span{
          position: absolute;
          width: 100%;
          font-size: 28px;
          line-height: 38px;
          text-align: center;
          left: 0;
          top: 24px;
        }
        h5{
          font-size: 24px;
          line-height: 38px;
          margin-top: 5px;
          font-weight: normal;
        }
        img{
          @include square(138px);
          @include blockCenter;
          @include transition(all 1s);
        }
        &:hover{
           .xz_circ{
            @include transform(rotate(360deg));
          }
        }
      }
    }
    .content{
      background: #e5e5e5;
      padding: 67px 0 52px 0;
      text-align: center;
      h3{
        font-size: 36px;
        color: #fff;
        line-height: 40px;
        margin-bottom: 20px;
        font-weight: normal;
        background-color: #000;
        padding: 10px 0;
        width: 80%;
        @include blockCenter;
        span{
          color: #ed1b24;
          margin-right: 17px;
        }
      }
      p{
        font-size: 16px;
        color: #666;
        line-height: 32px;
      }
      a{
        height: 43px;
        color: #333;
        margin: 0 auto;
        position: relative;
        border: 1px solid #333;
        border-radius: 8px;
        margin-top: 18px;
        width: 198px;
        line-height: 43px;
        text-align: center;
        display: block;
        font-size: 18px;
        cursor:pointer;

      }
      .u_content_con{
        text-align: center;
        margin-top: 45px;
        img{
          vertical-align: middle;
          border: none;
        }
      }
    }
  }
  .employ{
    height: 1335px!important;
    overflow: hidden!important;
    background: {
      image: url("../img/employ_bg.png");
      repeat: repeat;
    };
    padding-top: 80px;
    width: 100%;
    .container{
      position: relative;
      overflow: hidden;
      .employ_round{
        background: url("../img/employ_round.png") no-repeat;
        height: 1253px;
        margin: 0 auto;
        @include animate(round 30s linear infinite)
      }
      .employ_content{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        .employ_title{
          padding-top: 144px;
          padding-bottom: 50px;
          h3{
            color: #fff;
            font-size: 30px;
          }
          p{
            color: #04737b;
            font-size: 20px;
          }
        }
        .row{
          padding-left: 110px;
          .employ-item{
            margin-top: 10px;
            margin-left: 25px;
            margin-right: 25px;
            .thumbnail{
              border: none;
              background-color: transparent;
              padding: 0;
              width: 216px;
              @include borderRadius(0);
              .employ-icon{
                @include square(95px);
                @include blockCenter;
                overflow: hidden;
              }
              .caption{
                padding: 0;
                h5{
                  color: #ffffff;
                  font-size: 22px;
                }
                p{
                  color: #999;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
  .creator{
    height: auto!important;
    .creator-title{
      margin-bottom: 28px;
    }
    .base_tp{
      text-align: center;
      h3{
        font-size: 36px;
        color: #010101;
        line-height: 40px;
        margin-bottom: 20px;
        font-weight: normal;
        span{
          color: #ed1b24;
          margin-right: 17px;
        }
      }
      p{
        font-size: 16px;
        color: #666;
        line-height: 32px;
      }
      a{
        height: 43px;
        color: #333;
        margin: 0 auto;
        position: relative;
        border: 1px solid #333;
        border-radius: 8px;
        margin-top: 18px;
        width: 198px;
        line-height: 43px;
        text-align: center;
        display: block;
        font-size: 18px;
      }
    }
    .con1_con{
      text-align: center;
      color: #404040;
      font-size: 22px;
      line-height: 32px;
      margin-top: 72px;
      img{
        vertical-align: middle;
        border: none;
      }
      p{
        margin-top: 25px;
        padding-bottom: 76px;
      }
    }
    .teachers{
      background-color: #e7e8ea;
      padding-bottom: 26px;
      .row{
        h2{
          padding-top: 20px;
        }
        .teacher{
          margin-top: 62px;
          .teacher-photo{
            width: 40%;
            img{
              @include img;
            }
          }
          .teacher-intr{
            width: 54%;
            .teacher-name{

              font-size: 22px;
              color: red;
            }
          }
        }
        .gomoreteacher{
          width: 300px;
          @include lineheight(50px);
          @include blockCenter;
          color: #000000;
          display: block;
          border: 1px solid black;
          @include borderRadius(5px);
          text-align: center;
          margin-top: 20px;
          &:hover{
            text-decoration: none;

          }
        }
      }
    }
  }
  .student{


    width: 100%;
    background-color: #cb0215;
    height: 900px;
    overflow: hidden;
    position: relative;
    .container{
      position: relative;
      z-index: 100;
      height: 100%;
      background: {
        image: url("../img/study-bg.jpg");
        repeat: no-repeat;
        size: contain;
        position: 0 150px;
      };
      .student-phone{
        position: absolute;
        right: 0;
        top: -40px;
        @include animate(yaobao 5s linear infinite)
      }
      .student-text{
        position: absolute;
        top: 224px;
        left: 476px;
      }
      .student-carusel{
        width: 100%;
        margin-top: 900-320px;
        height: 320px;
        position: relative;
        background: {
          image: url("../img/study-col-bg.png");
          repeat: no-repeat;
          size:contain;
          position: 0 0;
        }
        overflow: hidden;
        .stu-car-warp{
          width: 328px;
          height: 206px;
          margin-left: 442px;
          margin-top: 17px;
          position: relative;
          overflow: hidden;
          background-color: #fff;
          .stu-car-list{
            position: absolute;
            top: 0;
            left: 0;
            height: 90%;
            width: 100%;
            overflow: hidden;
            li{
              width: 100%;
              height: 100%;
              padding: 0;
              margin: 0;
              display: none;
              z-index: 9;
              img{
                height: 100%;
                width: 100%;
              }
            }
          }
          @at-root .car-control{
            position: absolute;
            bottom: 0!important;
            height: 10%;
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: #fff;
            text-align: center;
            li{
              display: inline-block;
              height: 18px;
              width: 18px;
              margin: 1px 2px 1px 2px;
              text-align: center;
              color: #FFFFFF;

              background-color: #8b8b8b;
              &.active{
                background-color: red;
              }
            }
          }
        }
      }

    }
    .student-bg{
      width: 200%;
      height: 500px;
      background-color: #414345;
      opacity: 1;
      @include transform(rotate(-5deg));
      -webkit-transform-origin:center;
      -moz-transform-origin:center;
      -ms-transform-origin:center;
      -o-transform-origin:center;
      transform-origin:center;
      position: absolute;
      bottom: -300px;
      left: -50%;
    }
  }
  .box.content{
    h2{
      text-align: center;
      font-weight: normal;
      color: #222;
      padding-top: 80px;
      font-size: 30px;
    }
    .secs{
      font-size: 18px;
      text-align: center;
      font-weight: normal;
      color: #454545;
      padding-top: 40px;
      margin-bottom: 45px;
    }
    .fll{
      width: 260px;
      height: 38px;
      margin: 0 auto;
      margin-bottom: 40px;
      a{
        float: left;
        width: 109px;
        height: 38px;
        font-size: 18px;
        background: #00a8ff;
        text-align: center;
        line-height: 38px;
        color: #ffffff;
        border-radius: 10px;
        display: block;
        &.mr-40{
          margin-right: 40px;
        }
      }
    }
    table.classtable{
      background-color: #ccc;
      text-align: center;

      caption{
        width: 100%;
        font-size: 40px;
        color: #fff;
        font-weight: bold;
        background: #000;
      }
      &>thead>tr>td,tbody>tr>td,tfoot>tr>td{
        vertical-align: middle!important;
        img{

            @include img;

        }
      }
      thead{

        tr{
          background-color: #ffcb4d;
          @include lineheight(52px);

        }
      }
    }
  }

}

